.main {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  align-items: center;
  justify-content: center;
}

.header,
.footer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.content {
  height: 350px;
  width: 350px;
  justify-content: center;
  border: 1px solid limegreen;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.menuBar {
  margin: 5px;
}
.gameGrid {
  border: 0.5px solid lightgray;
}
